/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	top: 10%;
	left: 0;
	z-index: 1; /* Sit on top */
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	/* overflow: auto;  */
	cursor: default;
}

/* Modal Content/Box */
.modalContent {
	background-color: #fff;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	height: 422px;
	width: 646px; 
	border-radius: 5px;
}

/* The Close Button */
.close { 
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.modalHeader {
	text-align: left;
	font-size: 24px;
	margin-top: 4px;
    margin-bottom: 18px;
}

.searchInput {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('../../assets/svgs/searchIcon.svg');
	background-position: 10px 10px; 
	background-size: 21px 21px;
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
}

.productsListContainer {
	margin-top: 20px;
	height: 270px;
	overflow-y: scroll;
}

.productContainer {
	height: fit-content;
	border-bottom: solid 1px #ccc;
}

.mainProduct {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 8px;
}

.checkbox {
	height: 26px;
    width: 20px;
}
.checkbox:hover {
	cursor: pointer;
}

.productImage {
	height: 30px;
    width: 30px;
}

.variantsContainer {
	padding-left: 30px;
}

.variant {
	display: flex;
	align-items: center;
}

.modalFooter {
	display: flex;
    justify-content: space-between;
	align-items: center;
	height: 45px;
	margin-top: 6px;
}

.buttons {

}

.button {
	height: 40px;
	cursor: pointer;
	border-radius: 5px;
    border: solid 1px #ccc;
}

.cancelButton {
	width: 100px;
	margin-right: 12px;
}

.addButton {
	width: 65px;
}