.productListContainer {
	margin-top: 72px;
	margin-left: 252px;
}

.listHeader {
	font-size: 16px;
    font-weight: 600;
    color: var(--black-1);
}

.listSubHeader {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16rem;
	margin-top: 25px;
    margin-left: 109px;
}

.subHeaderItem {
	font-size: 14px;
    font-weight: 500;
}

.listContainer {
    margin-top: 20px;
}

.product {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7rem;
    margin-bottom: 30px;
}

.productPicker {
    cursor: pointer;
    height: 31px;
    width: 215px;
    border: 1px solid var(--black-2);
    box-shadow: 0px 2px 4px 0px #0000001A;
    padding: 2px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 45px;
}

.pickerText {
    font-size: 14px;
    font-weight: 400;
}

.pickerIcon {
    height: 16px;
}

.addDiscountButton {
    cursor: pointer;
    color: #fff;
    background-color: var(--green-1);
    height: 35px;
    width: 102px;
    border: none;
    border-radius: 5px;
}

.discountInput {
    height: 26px;
    width: 69px;
    border: 1px solid #0000001A;
    box-shadow: 0px 2px 4px 0px #0000001A;
    font-size: 14px;
    font-weight: 400;
}
.discountInput:hover {
    cursor: pointer;
}

.discountTypeDropdown {

}